*.apk
*.aar
*.ap_
*.aab
*.iml
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
.navigation/
.idea/
.DS_Store
/build
captures/
.externalNativeBuild
.cxx
vcs.xml
lint/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle